#world-map {
  width: 100%;
  height: 100vh;
}

div.btns {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 3px;
  z-index: 1;
}

div.btns button {
  display: block;
  margin: 0 0 3px auto;
}
